[IMPORTS]
preferred-modules =
    py:pathlib,
    unittest:pytest,

[MASTER]
# pylint defaults + f,fh,v,id
good-names =i,j,k,_,f,fh,v,id,T

[MESSAGES CONTROL]
disable =
    # On purpose disabled as we rely on black
    line-too-long,
    # TODO(ssbarnea): remove temporary skips adding during initial adoption:
    consider-using-f-string,
    duplicate-code,
    invalid-name,
    missing-function-docstring,
    no-else-return,
    no-self-use,
    preferred-module,
    protected-access,
    too-many-arguments,
    too-many-branches,
    too-many-lines,
    too-many-public-methods,
    too-many-statements,
    unused-variable,
